.pages .form-button {
    border-radius: 30px;
    padding:6px;
    padding-top:2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages .btn-container {
    margin-right: 6px;
    margin-left: 0px;
}

.form-button.highlighted {
    background: blue;
    color: white;
}